name: Create Package
run-name: ${{github.actor}} is building the ${{ inputs.COMPONENT }} Zarf Package
on:
  workflow_call:
    inputs:
      REF_NAME:
        required: true
        type: string
      REF_TYPE:
        required: true
        type: string
      ZARF_PACKAGE:
        required: true
        type: string
      COMPONENT:
        required: true
        type: string
      IMAGE_TAG:
        required: false
        type: string
permissions:
  id-token: write
  contents: read
defaults:
  run:
    shell: bash
env:
  S3_PATH: "s3://${{ secrets.AWS_BUCKET }}/${{ github.repository }}/${{ github.head_ref || github.ref_name }}"
  ZARF_PACKAGE: "${{ inputs.ZARF_PACKAGE}}"
  COMPONENT: "${{ inputs.COMPONENT}}"
  DCO_MAIN_S3_PATH: "s3://${{ secrets.AWS_BUCKET }}/naps-dev/dco-core/prototype-monrepo"
  DCO_MAIN_ZARF_PACKAGE: zarf-package-dco-core-amd64.tar.zst
jobs:
  package-component:
    runs-on: [self-hosted, onprem]
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install Zarf
        uses: defenseunicorns/setup-zarf@main
        with:
          version: v0.25.2
          download-init-package: true

      - name: Configure AWS ECR Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          role-to-assume: ${{secrets.AWS_ECR_ROLE}}
          role-session-name: arkime-ecr
          aws-region: us-east-1

      - name: ECR Login
        uses: aws-actions/amazon-ecr-login@v1
        id: login-ecr

      - name: Login to Registry One
        run: |
          zarf tools registry login \
            -u "${{secrets.REGISTRY1_USERNAME}}" \
            -p "${{secrets.REGISTRY1_PASSWORD}}" \
            "registry1.dso.mil"

      - name: Create Zarf Package from Branch
        if: ${{ inputs.REF_TYPE == 'branch'}}
        run: |
          # cleanup and init a tmp dir
          rm -rf big-tmp
          mkdir big-tmp

          args=()
          args+=(--set GIT_REF=refs/heads/${{ inputs.REF_NAME }})
          if [[ -z "${IMAGE_TAG}" ]]; then
            args+=(--set IMAGE_TAG="${{ inputs.IMAGE_TAG }}")
          fi
          args+=(--confirm)
          args+=(--tmpdir $PWD/big-tmp)
          args+=(--skip-sbom)

          # build the zarf package
          zarf package create "${args[@]}"

          # cleanup tmp dir
          rm -rf ./big-tmp
        working-directory: ${{ inputs.COMPONENT }}

      - name: Create Zarf Package from Tag
        if: ${{ inputs.REF_TYPE == 'tag'}}
        run: |
          # cleanup and init a tmp dir
          rm -rf big-tmp
          mkdir big-tmp

          args=()
          args+=(--set GIT_REF=refs/tags/${{ inputs.REF_NAME }})
          if [[ -z "${IMAGE_TAG}" ]]; then
            args+=(--set IMAGE_TAG="${{ inputs.IMAGE_TAG }}")
          fi
          args+=(--confirm)
          args+=(--tmpdir $PWD/big-tmp)
          args+=(--skip-sbom)

          # build the zarf package
          zarf package create "${args[@]}"

          # cleanup tmp dir
          rm -rf ./big-tmp
        working-directory: ${{ inputs.COMPONENT }}

      - name: Configure AWS S3 Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          role-to-assume: ${{secrets.AWS_ROLE}}
          role-session-name: arkime-s3
          aws-region: us-east-1

      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: '^1.19.5'
          cache: true

      - name: Pull DCO package needed for testing individual component
        if: ${{ inputs.COMPONENT != 'dco-core'}}
        run: |
          aws s3 cp --no-progress "${{ env.DCO_MAIN_S3_PATH }}/${{ env.DCO_MAIN_ZARF_PACKAGE }}" "dco-core/${{ env.DCO_MAIN_ZARF_PACKAGE }}"

      - name: Install dependencies for terratest
        run: |
          go get -t ./...

      - name: Run go test
        working-directory: ./test/
        run: |
          go test -timeout 40m

      - name: Slack Notification
        uses: rtCamp/action-slack-notify@v2
        env:
          SLACK_COLOR: ${{ job.status }}
          SLACK_ICON: https://avatars.githubusercontent.com/u/87975021?s=200&v=4
          SLACK_USERNAME: GitHub
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}

      - name: Save Package to S3
        run: |
          aws s3 cp --no-progress "${{ env.ZARF_PACKAGE }}" "${{ env.S3_PATH }}/${{ env.ZARF_PACKAGE }}"
        working-directory: ${{ inputs.COMPONENT }}
