name: Build and Deploy Polarity Zarf Package
run-name: ${{github.actor}} is building the Polarity Zarf package
on:
  push:
    paths:
      - 'polarity/**'
      - 'test/polarity_package_test.go'
      - '.github/workflows/polarity.yaml'
    tags-ignore: ["v**"]
    branches: ['**']

permissions:
  id-token: write
  contents: read

jobs:
  package-create:
    needs: [prepare-polarity]
    uses: ./.github/workflows/package.yaml
    secrets: inherit
    with:
      REF_NAME: "v4.0.10-4"
      REF_TYPE: "tag"
      ZARF_PACKAGE: zarf-package-polarity-amd64.tar.zst
      COMPONENT: "polarity"
