name: Build and Deploy Polarity Zarf Package
run-name: ${{github.actor}} is building the Polarity Zarf package
on:
  push:
    paths:
      - 'polarity/**'
      - 'test/polarity_package_test.go'
      - '.github/workflows/polarity.yaml'
    tags-ignore: ["v**"]
    branches: ['**']

permissions:
  id-token: write
  contents: read

jobs:
  prepare-polarity:
    runs-on: [on-prem-arc]
    container:
      image: ghcr.io/defenseunicorns/not-a-build-harness/not-a-build-harness:0.0.13

    steps:
      - name: Set up license file
        run:
          echo "${{ secrets.POLARITY_LICENSE }}" >> /tmp/polarity.lic

  package-create:
    needs: [prepare-polarity]
    uses: ./.github/workflows/package.yaml
    secrets: inherit
    with:
      REF_NAME: "v4.0.10-4"
      REF_TYPE: "tag"
      ZARF_PACKAGE: zarf-package-polarity-amd64.tar.zst
      COMPONENT: "polarity"

  cleanup-polarity:
    needs: [package-create]
    if: always()
    runs-on: [on-prem-arc]
    container:
      image: ghcr.io/defenseunicorns/not-a-build-harness/not-a-build-harness:0.0.13

    steps:
      - name: Remove license file
        run:
          rm -f /tmp/polarity.lic
