name: Build and Deploy Suricata Zarf Package
run-name: ${{github.actor}} is building the Suricata package
on:
  push:
    paths:
      - 'suricata/**'
      - 'test/suricata_package_test.go'
      - '.github/workflows/suricata.yaml'

permissions:
  id-token: write
  contents: read

jobs:
  package-create:
    uses: ./.github/workflows/package.yaml
    secrets: inherit
    with:
      REF_NAME: "monorepo-updates"
      REF_TYPE: "branch"
      ZARF_PACKAGE: zarf-package-suricata-amd64.tar.zst
      COMPONENT: "suricata"
