name: Build and Deploy XSoar Zarf Package
run-name: ${{github.actor}} is building the XSoar Zarf package
on:
  push:
    paths:
      - 'xsoar/**'
      - 'test/xsoar_package_test.go'
      - '.github/workflows/xsoar.yaml'
    tags-ignore: ["v**"]
    branches: ['**']

permissions:
  id-token: write
  contents: read

jobs:
  prepare-xsoar:
    runs-on: [on-prem-arc]
    container:
      image: ghcr.io/defenseunicorns/not-a-build-harness/not-a-build-harness:0.0.13

    steps:
      - name: Install Zarf
        uses: defenseunicorns/setup-zarf@main
        with:
          version: v0.27.0
          download-init-package: true

      - name: Login to XSOAR registry
        run: |
          zarf tools registry login \
            -u "${{secrets.XSOAR_USERNAME}}" \
            -p "${{secrets.XSOAR_PASSWORD}}" \
            "xsoar-registry.pan.dev"

      - name: Set up license file
        run:
          echo "${{ secrets.XSOAR_LICENSE }}" >> /tmp/demisto.lic

  package-create:
    needs: [prepare-xsoar]
    uses: ./.github/workflows/package.yaml
    secrets: inherit
    with:
      REF_NAME: "v6.5.0-5"
      REF_TYPE: "tag"
      ZARF_PACKAGE: zarf-package-xsoar-amd64.tar.zst
      COMPONENT: "xsoar"

  cleanup-xsoar:
    needs: [package-create]
    if: always()
    runs-on: [on-prem-arc]
    container:
      image: ghcr.io/defenseunicorns/not-a-build-harness/not-a-build-harness:0.0.13

    steps:
      - name: Remove license file
        run:
          rm -f /tmp/demisto.lic
